body {
  margin: 0;
  line-height: normal;
}

.photo-icon {
  position: absolute;
  height: 70.77%;
  width: 98.78%;
  top: 0%;
  right: 0.61%;
  bottom: 29.23%;
  left: 405.61%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.staractivated-icon {
  position: absolute;
  top: calc(50% - 7px);
  left: 1px;
  width: 14px;
  height: 14px;
}
.staractivated-icon1 {
  position: absolute;
  top: calc(50% - 7px);
  left: 16px;
  width: 14px;
  height: 14px;
}
.staractivated-icon2 {
  position: absolute;
  top: calc(50% - 7px);
  left: 31px;
  width: 14px;
  height: 14px;
}
.staractivated-icon3 {
  position: absolute;
  top: calc(50% - 7px);
  left: 46px;
  width: 14px;
  height: 14px;
}
.starinactive-icon {
  position: absolute;
  top: calc(50% - 7px);
  left: 61px;
  width: 14px;
  height: 14px;
}
.number {
  position: absolute;
  top: calc(50% - 3px);
  left: 77px;
  line-height: 8px;
}
.rating-5-stars {
  position: absolute;
  top: 191px;
  left: 0px;
  width: 100px;
  height: 14px;
  overflow: hidden;
}
.add-to-favorite-buttoninactiv {
  position: absolute;
  height: 13.85%;
  width: 21.95%;
  top: 63.08%;
  right: 0.61%;
  bottom: 23.08%;
  left: 77.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.new-price {
  position: absolute;
  width: 15.98%;
  top: 94.62%;
  left: 470.33%;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  color: #222;
}
.item {
  position: absolute;
  width: 94.51%;
  top: 87.31%;
  left: 430.61%;
  font-size: 16px;
  display: inline-block;
  color: #222;
}
.downy {
  margin: 0;
}
.brand-name {
  position: absolute;
  width: 40.67%;
  top: 81.15%;
  left: 430.67%;
  font-size: 11px;
  display: inline-block;
}
.product-cardcatalog {
  position: absolute;
  top: 194px;
  left: 16px;
  width: 164px;
  height: 260px;
}
.bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 1900%;
  border-radius: 29px;
  background-color: #1a283c;
}
.i {
  position: absolute;
  width: 72.5%;
  top: 29.17%;
  left: 1910%;
  display: inline-block;
}
.sale-label {
  position: absolute;
  top: 8px;
  left: 10px;
  width: 40px;
  height: 24px;
  text-align: center;
  color: #fff;
}
.item1 {
  position: absolute;
  width: 72.68%;
  top: 87.31%;
  left: 460.67%;
  font-size: 16px;
  display: inline-block;
  color: #222;
}
.brand-name1 {
  position: absolute;
  width: 51.83%;
  top: 81.15%;
  left: 460.61%;
  font-size: 11px;
  display: inline-block;
}
.rectangle {
  position: absolute;
  height: 5%;
  width: 88.46%;
  top: 45%;
  right: 11.54%;
  bottom: 50%;
  left: 0%;
  background-color: #9b9b9b;
}
.old-price1 {
  position: absolute;
  top: 0%;
  left: 5.68%;
  line-height: 20px;
}
.old-price {
  position: absolute;
  height: 7.69%;
  width: 15.85%;
  top: 94.62%;
  right: 82.93%;
  bottom: -2.31%;
  left: 467.68%;
  font-size: 14px;
}
.new-price1 {
  position: absolute;
  top: 94.62%;
  left: 477.68%;
  font-size: 16px;
  line-height: 20px;
  color: #1a283c;
}
.product-cardsalecatalog {
  position: absolute;
  top: 194px;
  left: 196px;
  width: 164px;
  height: 260px;
  cursor: pointer;
}
.catalog-2-child {
  position: absolute;
  top: 96px;
  left: 665px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  width: 375px;
  height: 90px;
}
.bg1 {
  position: absolute;
  top: 0px;
  left: 1000px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
  background-image: url(./images/bg1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 375px;
  height: 88px;
}

.i1 {
  position: absolute;
  height: 85.71%;
  width: 100%;
  top: 9.52%;
  left: 0%;
  letter-spacing: -0.02em;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.icon {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  cursor: pointer;
}
.headline {
  position: absolute;
  top: 11px;
  left: 99px;
  line-height: 22px;
}
.left-action {
  position: absolute;
  width: 100%;
  top: 44px;
  right: 0%;
  left: 8%;
  height: 44px;
  font-size: 25px;
  color: #222;
}
.navigation-barheadline {
  position: absolute;
  top: 0px;
  left: 600px;
  width: 375px;
  height: 109px;
  overflow: hidden;
  text-align: center;
  font-size: 15px;
  color: #000;
}
.tagselectedsmall-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 750%;
  border-radius: 29px;
  background-color: #222;
}
.t-shirts {
  position: absolute;
  height: 50%;
  width: 77%;
  top: 26.67%;
  left: 762%;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tagselectedsmall {
  position: absolute;
  top: 126px;
  left: 30px;
  width: 85px;
  height: 30px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
.tagselectedsmall1 {
  position: absolute;
  top: 126px;
  left: 32px;
  width: 96px;
  height: 30px;
  text-align: center;
  font-size: 12px;
  color: #fff;
}
.tagselectedsmall2 {
  position: absolute;
  top: 126px;
  left: 127px;
  width: 96px;
  height: 30px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
.tagselectedsmall3 {
  position: absolute;
  top: 126px;
  left: 223px;
  width: 96px;
  height: 30px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
.baseline-search-24px-icon {
  position: absolute;
  top: 52px;
  left: 340px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  cursor: pointer;
}
.number2 {
  position: absolute;
  top: calc(50% - 3px);
  left: 78px;
  line-height: 8px;
}
.starinactive-icon1 {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 49px);
  width: 14px;
  height: 14px;
}
.starinactive-icon2 {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 34px);
  width: 14px;
  height: 14px;
}
.starinactive-icon3 {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 19px);
  width: 14px;
  height: 14px;
}
.starinactive-icon4 {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 4px);
  width: 14px;
  height: 14px;
}
.starinactive-icon5 {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% + 11px);
  width: 14px;
  height: 14px;
}
.product-cardcatalog1 {
  position: absolute;
  top: 480px;
  left: 16px;
  width: 164px;
  height: 260px;
}
.product-cardsalecatalog1 {
  position: absolute;
  top: 480px;
  left: 196px;
  width: 164px;
  height: 260px;
}
.sale-label2 {
  position: absolute;
  top: 202px;
  left: 29px;
  width: 40px;
  height: 24px;
  text-align: center;
  color: #fff;
}

.profile-iconinactive {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  object-fit: cover;
}
.label {
  position: absolute;
  top: 32px;
  left: 0px;
}

.label1 {
  position: absolute;
  top: 32px;
  left: 5px;
}
.shopping-bag-iconinactive {
  position: absolute;
  height: 68.18%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 31.82%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.label2 {
  position: absolute;
  top: 32px;
  left: 2px;
}

.label3 {
  position: absolute;
  top: 32px;
  left: 1px;
}
.home-iconinactive {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}

.label4 {
  position: absolute;
  top: 769px;
  left: 251px;
}
.catalog-2-item {
  position: absolute;
  top: 11px;
  left: 178px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.catalog-2 {
  width: 100%;
  height: 812px;
  position: relative;
  background-color: #f9f9f9;
  background-image: url("./images/bg1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  text-align: left;
  font-size: 10px;
  color: #9b9b9b;
  font-family: ABeeZee, sans-serif;
}
.bottom-nav {
  position: absolute;
  bottom: 0;
  width: 23%;
  background: white;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  left: 39%;
}

.bottom-nav i {
  color: #9b9b9b;
  font-size: 24px;
}

.bottom-nav .active i {
  color: #1a283c;
}

.bottom-nav span {
  font-family: ABeeZee, sans-serif;
  font-size: 10px;
  display: block;
  margin-top: 5px;
}

.bottom-nav .active span {
  color: #1a283c;
}
